{% extends 'templatte/tempuser.html' %}
{% block body %}
    <div class="shop-detail-box-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div class="single-product-slider">
                        <div class="" role="listbox">
                            <img class="d-block w-100"
                                 src="{{ url_for('static', filename='images/' + produk.gambar) }}"
                                 alt="First slide">
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <div class="single-product-details">
                        <h2>{{ produk.nama_product }}</h2>
                        <h5>
                            {% if produk.id_promo %}
                                <del>Rp. {{ '{:,}'.format(produk.harga) }}</del>
                                Rp. {{ '{:,}'.format(produk.harga - (produk.promo.diskon * produk.harga / 100)) }}
                            {% else %}
                                Rp. {{ '{:,}'.format(produk.harga) }}
                            {% endif %}
                        </h5>
                        <p class="available-stock"><span> {{ produk.stok }} available / <a
                                href="#">{{ produk.selling }} Terjual </a></span>
                        <p>
                        <h4>Description:</h4>
                        <p>{{ produk.deskripsi }}</p>
                        <ul>
                            <li>
                                <div class="form-group quantity-box">
                                    <label class="control-label">Quantity</label>
                                    <input class="form-control" name="quantity" value="0" min="0" max="20"
                                           type="number">
                                </div>
                            </li>
                        </ul>
                        <div class="price-box-bar">
                            <div class="cart-and-bay-btn">
                                <a href="/login" class="btn hvr-hover text-white" data-fancybox-close="">Add to
                                    cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}