{% extends 'templatte/tempuser.html' %}
{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Produk Kami</h1>
                        <p>Carilah Produk yang anda inginkan, <strong>Filter dengan kategori</strong></p>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button type="button" data-category="semua" class="kategori-button active">
                                Semua
                            </button>
                            {% for ktgr in kategori %}
                                <button type="button" data-category="{{ ktgr.kategori }}" class="kategori-button">
                                    {{ ktgr.kategori }}
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="productList">
                {% for row in prdk %}

                    <div class="col-lg-3 col-md-6 special-grid product" data-category="{{ row.id_kategori }}">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                {% if row.promo %}
                                    <div class="type-lb">
                                        <p class="sale">Diskon {{ row.promo.diskon }}%</p>
                                    </div>
                                {% else %}
                                {% endif %}
                                <img name="gambar" src="../static/images/{{ row.gambar }}" alt="" height="200"
                                     width="265">
                                <div class="mask-icon">
                                    <ul>
                                        <li>
                                            <a href="{{ url_for('g_prod.detailproduknotlogin', id_produk=row.id_produk) }}"
                                               data-toggle="tooltip"
                                               data-placement="right" title="Detail"><i
                                                    class="bi bi-info-circle-fill"></i></a>
                                        </li>
                                    </ul>
                                    <button type="button" class="transparent-button"
                                            data-id="{{ row.id_produk }}">
                                        <a href="/login" class="cart">Keranjang</a>
                                    </button>
                                </div>
                            </div>
                            <div class="why-text">
                                <a href="{{ url_for('g_prod.detailproduknotlogin', id_produk=row.id_produk) }}">
                                    <h5>{{ row.nama_product }}</h5></a>
                                {% if row.stok is defined and row.stok is not none %}
                                    {% if row.stok > 0 %}
                                        <div class="row">
                                            <div class="col-7">
                                                <p>Stok Tersedia : {{ row.stok }}</p>
                                            </div>
                                            <div class="col-3">
                                                <input class="form-control mb-3" type="number" name="quantity"
                                                       style="height: 30px; width: 70px;"
                                                       value="1">
                                            </div>
                                        </div>
                                    {% else %}
                                        <p class="text-danger" style="margin-top: 21px">Out of Stock</p>
                                    {% endif %}
                                {% else %}
                                    <p class="text-danger">Stok tidak tersedia</p>
                                {% endif %}
                                {% if row.promo %}
                                    <p>Rp. <s
                                            style="margin-right: 10px;">{{ '{:,}'.format(row.harga) }}</s><strong>Rp. {{ '{:,}'.format(row.harga - (row.promo.diskon * row.harga / 100)) }}</strong>
                                    </p>

                                {% else %}
                                    <p> Rp. {{ '{:,}'.format(row.harga) }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End Gallery  -->
{% endblock %}
{% block js %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var buttons = document.querySelectorAll('.kategori-button');
            var products = document.querySelectorAll('.product');

            buttons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var category = this.getAttribute('data-category');

                    // Hapus class 'active' dari semua tombol kategori
                    buttons.forEach(function (btn) {
                        btn.classList.remove('active');
                    });

                    // Tambahkan class 'active' ke tombol kategori yang diklik
                    this.classList.add('active');

                    // Tampilkan atau sembunyikan produk berdasarkan kategori
                    products.forEach(function (product) {
                        var productCategory = product.getAttribute('data-category');
                        if (category === 'semua' || category === productCategory) {
                            product.style.display = 'block';
                        } else {
                            product.style.display = 'none';
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}