{% extends 'templatte/templateadmin.html' %}
{% block body %}
    <!-- BREADCRUMB-->
    <section class="au-breadcrumb m-t-75">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">You are here:</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    {% for item in breadcrumb_data %}
                                        <li class="list-inline-item {% if loop.last %}active{% endif %}">
                                            {% if not loop.last %}
                                                <a href="{{ url_for('dashboard_page.dashboard') }}">{{ item }}</a>
                                            {% else %}
                                                {{ item }}
                                            {% endif %}
                                        </li>
                                        {% if not loop.last %}
                                            <li class="list-inline-item seprate">
                                                <span>/</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MAIN CONTENT-->
    <div class="section__content section__content--p30">
        <div class="container-fluid mt-4">
            <div class="row m-t-30">
                <div class="col-md-12">
                    {#                    {% with messages = get_flashed_messages(with_categories=true) %}#}
                    {#                        {% if messages %}#}
                    {#                            {% for category, message in messages %}#}
                    {#                                <div class="alert alert-{{ category }} ">{{ message }}</div>#}
                    {#                            {% endfor %}#}
                    {#                        {% endif %}#}
                    {#                    {% endwith %}#}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div id="flash-messages">
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}" role="alert">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            </div>

                        {% endif %}
                    {% endwith %}
                    <p class="text-right mb-3"><a class="btn btn-info" href="/admin/produk/tambahproduk"><i
                            class="bi bi-plus-lg"></i> Tambah Data</a></p>
                    <!-- DATA TABLE-->
                    <div class="table-responsive m-b-40">
                        <table id="daTable" class="table table-borderless table-data3">
                            <thead>
                            <tr>
                                <th class="text-center col-1">#</th>
                                <th class="text-center col-2">Nama Produk</th>
                                <th class="text-center col-2">Harga</th>
                                <th class="text-center col-2">Kategori</th>
                                <th class="text-center col-1">Stok</th>
                                <th class="text-center col-4">Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% set index = 1 %}
                            {% for row in prdk %}
                                <tr>
                                    <td class="text-center">{{ loop.index }}</td>
                                    <td class="text-center">{{ row.nama_product }}</td>
                                    <td class="text-center">RP. {{ '{:,}'.format(row.harga) }}</td>
                                    <td class="text-center">{{ row.id_kategori }}</td>
                                    <td class="text-center">{{ row.stok }}</td>
                                    <td class="text-center">
                                        <a href='{{ url_for("produk_page.detailproduk", id_produk=row.id_produk) }}'
                                           class='btn btn-primary'><i class="bi bi-info-circle"></i>Detail</a>
                                        <a href='{{ url_for("produk_page.editproduk", id_produk=row.id_produk) }}'
                                           class='btn btn-success'><i class="bi bi-pencil"></i>Edit</a>
                                        <a href='{{ url_for("produk_page.tambahstok", id_produk=row.id_produk) }}'
                                           class='btn btn-info'><i class="bi bi-plus-lg"></i>Stok</a>
                                        {% if row.id_status == 1 %}
                                            <a href='{{ url_for("produk_page.nonaktifproduk", id_produk=row.id_produk) }}'
                                               class='btn btn-danger'
                                               onclick='return confirm("Yakin Produk Akan dinonaktifkan??")'><i
                                                    class="bi bi-bag-x-fill"></i> Nonaktif</a>
                                        {% elif row.id_status == 2 %}
                                            <a href='{{ url_for("produk_page.aktifkan", id_produk=row.id_produk) }}'
                                               class='btn btn-info'><i class="bi bi-bag-plus-fill"></i> aktifkan</a>
                                        {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE-->
                </div>
            </div>

        </div>
    </div>


{% endblock %}