{% extends 'templatte/templateadmin.html' %}
{% block body %}
    <!-- BREADCRUMB-->
    <section class="au-breadcrumb m-t-75">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">You are here:</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    {% for item in breadcrumb_data %}
                                        <li class="list-inline-item {% if loop.last %}active{% endif %}">
                                            {% if not loop.last %}
                                                <a href="/admin/produk">{{ item }}</a>
                                            {% else %}
                                                {{ item }}
                                            {% endif %}
                                        </li>
                                        {% if not loop.last %}
                                            <li class="list-inline-item seprate">
                                                <span>/</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BREADCRUMB-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="section__content section__content--p30 mt-3">
        <div class="card">
            <form action='' method="POST" enctype="multipart/form-data">
                <div class="card-header">
                    <strong>Tambah</strong>
                    <small> Produk</small>
                </div>
                <div class="card-body card-block">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="id_produk" id="floatingInput"
                                       hidden placeholder="id produk">
                                <label for="floatingInput">Nama Produk</label>
                                <input type="text" class="form-control" name="nama_product"
                                       id="floatingInput" placeholder="Nama Produk">
                            </div>
                            <div class="form-group">
                                <label for="floatingInput">Deskripsi</label>
                                <textarea class="form-control" name="deskripsi"
                                          placeholder="Masukan Deskripsi Produk"
                                          id="floatingTextarea2" style="height: 150px"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="floatingInput">Harga </label>

                                <input type="number" class="form-control" name="harga" id="floatingInput">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="floatingInput">Gambar</label>

                                <input type="file" class="form-control" name="gambar"  accept="image/*">
                            </div>
                            <div class="form-group">
                                <label for="floatingInput">Kategori</label>

                                <select class="custom-select" name="id_kategori" id="kategoriSelect"
                                        aria-label="Example select with button addon">
                                    {% for ktgr in kategori %}
                                        <option value="{{ ktgr.kategori }}">{{ ktgr.kategori }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="floatingInput">Stok</label>
                                <input type="number" class="form-control" name="stok"
                                       id="floatingInput">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row ">
                        <div class="col-1">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                        <div class="col-1">
                            <a class="btn btn-primary" href="/admin/produk" role="button">Kembali</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>



{% endblock %}