{% extends 'templatte/templateadmin.html' %}
{% block body %}
    <!-- BREADCRUMB-->
    <section class="au-breadcrumb m-t-75">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">You are here:</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    {% for item in breadcrumb_data %}
                                        <li class="list-inline-item {% if loop.last %}active{% endif %}">
                                            {% if not loop.last %}
                                                <a href="{{ url_for('dashboard_page.dashboard') }}">{{ item }}</a>
                                            {% else %}
                                                {{ item }}
                                            {% endif %}
                                        </li>
                                        {% if not loop.last %}
                                            <li class="list-inline-item seprate">
                                                <span>/</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BREADCRUMB-->
    <div class="section__content section__content--p30 mt-3">
        <div class="card">
            <div class="card-header">
                <strong>Detail</strong>
                <small> Admin</small>
            </div>
            <div class="card-body card-block">

                <div class="form-floating mb-3">
                    <label for="floatingInput">Nama Lengkap</label>
                    
                    <input type="text" class="form-control" name="new_fullname" id="floatingInput"
                           placeholder="Nama Lengkap"
                           value="{{ user.fullname }}">
                </div>
                <div class="form-floating mb-3">
                    <label for="floatingInput">Usia</label>

                    <input type="text" class="form-control" name="new_usia" id="floatingInput"
                           placeholder="Usia"
                           value="{{ user.usia }}">
                </div>
                <div class="form-floating mb-3">
                    <label for="floatingInput">Alamat</label>

                    <input type="text" class="form-control" name="new_alamat" id="floatingInput"
                           placeholder="Alamat"
                           value="{{ user.alamat }}">
                </div>
                <div class="form-floating mb-3">
                    <label for="floatingInput">Nomor Telepon</label>

                    <input type="number" class="form-control" name="new_notelp" id="floatingInput"
                           placeholder="Nomor Telepon"
                           value="{{ user.notelp }}">
                </div>
                <div class="row">
                    <div class="col-2">
                        <button type="submit" class="btn btn-success">Simpan Perubahan</button>
                    </div>
                    <div class="col-2">
                        <a href="{{ url_for('dashboard_page.dashboard') }}"
                           class="btn btn-primary">Kembali</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %} }