{% extends 'templatte/templateadmin.html' %}
{% block css %}
    .status-box {
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff; /* Text color for better readability */
    display: inline-block;
    }

    .status-ditolak {
    background-color: red;
    }

    .status-belum-mengirim {
    background-color: orange;
    }

    .status-tunggu-verifikasi {
    background-color: yellow;
    color: #000; /* Text color for better readability on yellow background */
    }

    .status-pesanan-siap {
    background-color: green;
    }


{% endblock %}
{% block body %}
    <!-- BREADCRUMB-->
    <section class="au-breadcrumb m-t-75">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">You are here:</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    {% for item in breadcrumb_data %}
                                        <li class="list-inline-item {% if loop.last %}active{% endif %}">
                                            {% if not loop.last %}
                                                <a href="/dashboard">{{ item }}</a>
                                            {% else %}
                                                {{ item }}
                                            {% endif %}
                                        </li>
                                        {% if not loop.last %}
                                            <li class="list-inline-item seprate">
                                                <span>/</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BREADCRUMB-->
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row m-t-30">
                <div class="col-md-12">
                    <!-- DATA TABLE-->
                    <div class="table-responsive m-b-40">
                        <table id="daTable" class="table table-borderless table-data3">
                            <thead>
                            <tr>
                                <th class="text-center col-md-1">No</th>
                                <th class="text-center col-md-2">Nama Customer</th>
                                <th class="text-center col-md-1">Total</th>
                                <th class="text-center col-md-2">Tanggal Pesan</th>
                                <th class="text-center col-md-2">Status</th>
                                <th class="text-center col-md-3">Aksi</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set index = 1 %}
                            {% for trs in transaksi %}
                                <tr>
                                    <td class="text-center">{{ loop.index }}</td>
                                    <td class="text-center">{{ trs.user.fullname }}</td>
                                    <td class="text-center">Rp. {{ '{:,.0f}'.format(trs.total) }} </td>
                                    <td class="text-center">{{ trs.date.strftime('%Y-%m-%d %H:%M') }} </td>
                                    <td class="text-center">
                                        <div class="status-box
                                            {% if trs.stat_pem.stats_pem_name == 'Belum Mengirim Bukti' %}status-belum-mengirim
                                            {% elif trs.stat_pem.stats_pem_name == 'Tunggu Verifikasi' %}status-tunggu-verifikasi
                                            {% elif trs.stat_pem.stats_pem_name == 'Pesanan Siap Diantar' %}status-pesanan-siap
                                            {% elif trs.stat_pem.stats_pem_name == 'Bukti Ditolak' %}status-ditolak
                                            {% endif %}">
                                            {{ trs.stat_pem.stats_pem_name }}
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        {% if trs.stat_pem.stats_pem_name == 'Tunggu Verifikasi' %}
                                            <a href="{{ url_for('transaksi_page.cekbukti', id_transaksi=trs.id_transaksi) }}"
                                               class="btn btn-success">Cek Bukti</a>
                                        {% endif %}
                                        <a href="{{ url_for('transaksi_page.transaksidetail', id_transaksi=trs.id_transaksi) }}"
                                           class="btn btn-primary">Detail</a>
                                        <a href="{{ url_for('transaksi_page.cetakpdf', id_transaksi=trs.id_transaksi) }}"
                                           class="btn btn-danger">PDF</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE-->
                </div>
            </div>

        </div>
    </div>

{% endblock %}