{% extends 'templatte/tempuser.html' %}
{% block body %}
    <div class="about-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-frame"><img class="img-fluid"
                                                   src="{{ url_for('static', filename='images/aboutflam.jpg') }}" alt=""/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">We are <span>Flamboyant Bakery</span></h2>
                    <p>Flamboyant Bakery adalah salah satu perusahaan yang cukup terkenal di kota Bandung. Flamboyant
                        Bakery terletak di Jalan Sukawangi No.2, Gegerkalong, Kecamatan Sukasari, Kota Bandung, Jawa
                        Barat 40153. Salah satu perusahaan yang bergerak dibidang produksi Roti di Kota Bandung, selain
                        memproduksi roti juga Flamboyant Bakery juga menyediakan seperti makanan penutup seperti
                        dessert, dan makanan manis lainnya, pembuatan parcel untuk hari hari raya seperti hari raya
                        lebaran, natal dan lain sebagainya. </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}