{% extends 'templatte/tempuser.html' %}
{% block body %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="card m-3">
        <form method="POST">
            <div class="card-header">
                <h1>Change Password</h1>
            </div>
            <div class="card-body">

                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="old_password" id="floatingInput"
                           placeholder="Password Lama">
                    <label for="floatingInput">Password Lama</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="new_password" id="floatingInput"
                           placeholder="Password Baru">
                    <label for="floatingInput">Password Baru</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="confirm_password" id="floatingInput"
                           placeholder="Confirm Password">
                    <label for="floatingInput">Konfirmasi password</label>
                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-1">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col-1">
                        <a href="{{ url_for('dashboard.dashboarduser') }}" class="btn btn-primary">Kembali</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}